servicio-emision/Web References/GetReservationOperation/GetReservationSTLRQ_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://webservices.sabre.com/pnrbuilder/v1_18" xmlns:pnrb="http://webservices.sabre.com/pnrbuilder/v1_18" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/pnrbuilder/v1_18" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="PNRBuilderTypes_v1.18.0.xsd" />
  <xsd:element name="GetReservationRQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="Locator" type="xsd:string" />
        <xsd:element minOccurs="0" name="SnapshotID" type="pnrb:UUID" />
        <xsd:element minOccurs="0" name="RequestType" type="xsd:string" />
        <xsd:element minOccurs="0" name="CreateDate" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation>Pnr creation date used to retrieve inactive pnr</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="ReturnOptions" type="pnrb:ReturnOptions.PNRB" />
        <xsd:element minOccurs="0" maxOccurs="1" name="POS" type="pnrb:POS_Type.PNRB" />
        <xsd:element minOccurs="0" maxOccurs="1" name="Poc" type="pnrb:Poc" />
        <xsd:element minOccurs="0" maxOccurs="1" name="RawContent" type="pnrb:RawContentType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="ClientContext" type="pnrb:ClientContext" />
      </xsd:sequence>
      <xsd:attribute name="Version" type="xsd:string" use="optional" />
      <xsd:attribute name="EchoToken" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RawContentType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PnrContent" type="xsd:base64Binary" />
      <xsd:element minOccurs="0" name="GlobalSecurityContent" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="UUID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>