servicio-emision/Web References/wsSabreReadPNR/TravelItineraryReadLLSRQ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2003/07" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2003/07" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TravelItineraryReadRQ">
    <xs:annotation>
      <xs:documentation>PNR display request</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="POS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Source">
                <xs:complexType>
                  <xs:attribute name="PseudoCityCode" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.																</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="16" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MessagingDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ApplicationID" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="Transaction">
                <xs:complexType>
                  <xs:attribute name="Code" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="UniqueID">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation xml:lang="en">"Code" is used to specify SDS transaction code definitions such as GEN, PAX, FNR, FFT, PHN, AFD, GFD, ADR, CDR, ACR, PPT, HRM, FQP, GRM, BSD, AIT, HOT, CAR, TIN, AX1, AX2, TRM, TFS, FOP, WSR, PH4, FPL, FBL, ACC, ITN, ITR, INV, DDR, PTD, SIP.</xs:documentation>
            </xs:annotation>
            <xs:attribute name="ID" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="TimeStamp" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).	</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>